
<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">


  <title>Candidate</title>
</head>

<body >
  <h1 class="text-center p-2 m-2" style="background-color:rgb(211, 170, 170);">Update Your Resume</h1>
<div class="col-sm-6 offset-3">

<form action="" method="post" novalidate  class="shadow p-5 bg-light">
 {% csrf_token %}
 {{form.as_p}}
 <input type="submit" value="Update" class="btn btn-success">
 <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
</form>
</div>

</body>

</html>